name: Release Charts

on:
  push:
    branches:
      - master
  schedule:
    # run this pipeline every 15th minute
    - cron:  '*/15 * * * *'
  repository_dispatch:
    types: updateCharts

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Chart-Releaser requires helmv3
      # Build-Charts script requires jq
      - name: Install Requirements
        run: >
          sudo apt-get -qq update && sudo apt-get -qq install jq &&
          curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

      # Execute script to get charts from upstream repos
      - name: Prepare Charts
        run: >
          git reset --hard origin/master &&
          git checkout master &&
          git pull &&
          bash ./scripts/build-charts.sh $(pwd)/charts $(pwd)/conf.d/upstream_charts.json

      # Push new charts back to repo
      - name: Push Charts
        env:
          GITHUB_TOKEN: ${{ secrets.CR_TOKEN }}
        run: >
          git config --global user.name "Mittwald Machine" &&
          git config --global user.email "opensource@mittwald.de" &&
          git remote add publisher https://mittwald-machine:${GITHUB_TOKEN}@github.com/mittwald/helm-charts.git &&
          git add -A &&
          (git commit -m "Automated publish: $(date -u) ${GITHUB_SHA}" || exit 0) &&
          git pull --rebase publisher master &&
          git push publisher master

      # Get those charts to github pages
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.1.0
        with:
          charts_dir: ./charts
        env:
          CR_TOKEN: "${{ secrets.CR_TOKEN }}"
